@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500;700&family=Philosopher:wght@400;700&display=swap");

@tailwind base; /* Preflight will be injected here */

@layer base {
    body {
        font-family: "DM Sans", sans-serif;
        @apply text-black;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Philosopher", sans-serif;
        @apply text-black;
    }

    /* Removing the default appearance */
    .thumb,
    .thumb::-webkit-slider-thumb {
        /* -webkit-appearance: none; */
        -webkit-tap-highlight-color: transparent;
    }

    .thumb {
        pointer-events: none;
        position: absolute;
        height: 0;
        width: 100%;
        outline: none;
    }

    .thumb--zindex-3 {
        z-index: 3;
    }

    .thumb--zindex-4 {
        z-index: 4;
    }

    /* For Chrome browsers */
    /* thumb for moving */
    .thumb::-webkit-slider-thumb {
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px white;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin-top: 4px;
        pointer-events: all;
        position: relative;
        @apply bg-primary;
    }

    /* For Firefox browsers */
    .thumb::-moz-range-thumb {
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px white;
        cursor: pointer;
        height: 18px;
        width: 18px;
        margin-top: 4px;
        pointer-events: all;
        position: relative;
        @apply bg-primary;
    }

    .thumb--zindex-5 {
        z-index: 5;
    }
}

@tailwind components;

@tailwind utilities;
